<div class="container">
  <div id="content" class="space-top-none">
    <div class="main-content">
      <div class="space60">&nbsp;</div>
      <div class="row">
          <div class="col-md-3 ">
            <ul class="list-group">
              <li class="btn btn-primary form-control">{{translateService.data.list_product_type}}</li>
              <li class="menu" *ngFor="let productType of productTypes" style="border-bottom: #0d17ff 1px solid">
                <a [routerLink]="['/cake/product-type/' + productType.productTypeId]">{{productType.productTypeName}}</a>
              </li>
            </ul>
          </div>
        <div class="col-sm-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
