<div class="rev-slider">
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
      <div class="bannercontainer" >
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="item active">
              <img src="/assets/dest/images/banner1.jpg" style="width:100%;">
            </div>

            <div class="item">
              <img src="/assets/dest/images/banner2.jpg" style="width:100%;">
            </div>
            <div class="item">
              <img src="/assets/dest/images/banner3.jpg" style="width:100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
