<div id="footer" style="background:#339966">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="col-sm-10">
          <div class="widget">
            <h4 class="widget-title">{{translateService.data.contact}}</h4>
            <div>
              <div class="contact-info">
                <i class="fa fa-map-marker"></i>
                <p style="color: white">64/20 đường 16 phường Linh Trung quận Thủ Đức Số điện thoại: 0396234467</p>
                <p style="color: white">Trường: Đại học Nông Lâm TP.Hồ Chí Minh - Khoa: Công nghệ thông tin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h4 class="widget-title">{{translateService.data.feedback}}</h4>
        <form>
          <input type="email" name="your_email">
          <button class="pull-right" type="submit">{{translateService.data.send}} <i class="fa fa-chevron-right"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

